@import './variables.scss';
@import './utils.scss';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*:focus:not(:focus-visible) {
    outline: none;
}

html {
    font-size: 10px; // 1rem = 10px
    @media screen and (min-width: 2300px) {
        font-size: 14px; // 1rem = 14px
    }
}

body {
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: var(--body-color);
    @media screen and (max-width: 860px) {
        flex-direction: column;
    }
}

.main {
    flex: 1;
    background-color: var(--body-color);
    overflow: scroll;
    padding-bottom: 4rem;
}

a {
    text-decoration: none;
}
