:root {
    --baner-sm-side: 10.3rem;
    --purple: #7c5dfa;
    --purple-light: #9277ff;
    --red: #ec5757;
    --red-light: #ff9797;
    --white: #ffffff;
    --hash-color: #7e88c3;
    --status-paid-color: #33d69f;
    --status-pending-color: #ff8f00;
    @media screen and (max-width: 860px) {
        --baner-sm-side: 80px;
    }
    @media screen and (max-width: 375px) {
        --baner-sm-side: 72px;
    }
}

.app--light {
    --baner-color: #373b53;
    --body-color: #f8f8fb;
    --bold-text-color: #0c0e16;
    --normal-text-color1: #888eb0;
    --normal-text-color2: #858bb2;
    --invoice-color: #ffffff;
    --status-draft-color: #373b53;
    --grey-button-color: #f9fafe;
    --grey-button-hover-color: #dfe3fa;
    --grey-button-text: #7e88c3;
    --single-invoice-dody-color: #858bb2;
    --single-invoice-bottom-color: #373b53;
}

.app--dark {
    --baner-color: #1e2139;
    --body-color: #141625;
    --bold-text-color: #ffffff;
    --normal-text-color1: #dfe3fa;
    --normal-text-color2: #ffffff;
    --invoice-color: #1e2139;
    --status-draft-color: #dfe3fa;
    --grey-button-color: #252945;
    --grey-button-hover-color: #ffffff;
    --grey-button-text: #dfe3fa;
    --single-invoice-dody-color: #dfe3fa;
    --single-invoice-bottom-color: #0c0e16;
}
