.logo {
    height: var(--baner-sm-side);
    width: var(--baner-sm-side);
    background-color: var(--purple);
    position: relative;
    margin: 0 0 auto 0;
    border-radius: 0px 2rem 2rem 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 860px) {
        margin: 0 auto 0 0;
    }

    &__child {
        height: 50%;
        width: 100%;
        background-color: var(--purple-light);
        border-radius: 2rem 0px 2rem 0px;
        position: absolute;
        bottom: 0;
    }

    &__image {
        margin: 0 auto;
        z-index: 2;
        @media screen and (max-width: 860px) {
            width: 31px;
        }
        @media screen and (max-width: 375px) {
            width: 28px;
        }
    }
}
